* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f2f2f2;
  margin: 0;
  color: #333;
}

.header {
  background: #4CAF50;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2em;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.post {
  flex: 70%; /* Adjusted width for the posts */
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.sidebar {
  flex: 30%; /* Adjusted width for the sidebar */
  background: #f9f9f9;
  padding: 20px;
  margin-left: auto; /* Push the sidebar to the right */
}

.footer {
  padding: 20px;
  text-align: center;
  background: #333;
  color: #fff;
  clear: both; /* Clear floats */
}

@media screen and (max-width: 800px) {
  .main-content {
    flex-direction: column;
  }

  .post,
  .sidebar {
    flex: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
